* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.btn {
  margin: 30px 0 30px 0;
  padding: 8px 15px;
  background-color: #B47AEA;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease;

}

.btn:active {
  transform: scale(.90);

}

.btn:hover {
  background-color: #a84cff;
  box-shadow: 0 0 2px 1px #a84cff;
  transform: scale(1.1);
}


.main-title {
  color: #5E5E5E;
  font-size: 72px;
  text-align: center;
}

.descr {
  color: #5E5E5E;
  font-size: 24px;

}

.first_slide-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 5px;
  margin: 150px auto 0 auto;
  transition: all 2s ease;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  border-radius: 5px;
  margin: 10px auto 0 auto;
  transition: all 2s ease;
}

.hidden-first_slide {

  rotate: 720deg;
  translate: -1000px;
  overflow: hidden;
}

.second_slide-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 1px 1px #b1b1b1;
  border-radius: 15px;
  padding: 50px 20px;
  top: -999px;
  transition: all 2s ease;
}

.show-second_slide {
  top: -300px;
  display: flex;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #B47AEA;
  text-align: center;
}

.form-button {
  padding: 8px 15px;
  border: none;
  background-color: #B47AEA;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease;
}

.form-button:hover {
  background-color: #a84cff;
  box-shadow: 0 0 1px 1px #a84cff;
}

.form-button:active {
  transform: scale(.90);
}

.form-input {
  font-size: 14px;
  border: none;
  border: none;
  outline: none;

}


.form-wrapper {
  border: 1px solid #EEEEEE;
  padding: 8px 15px;
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  justify-content: space-between;
}

.todo {
  color: #000;

}

.todo-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 5px 20px; 
  min-width: 400px;
  border-radius: 10px;
  background-color: #fdfdfd;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.item-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}



.item-text {
  font-size: 18px;
  transition: all 0.5s ease;
}

.checkbox {
  color: #B47AEA;
  height: 10px;
  width: 10px;
  transition: all 0.5s ease;
}

.checkbox-checked {
  color: #fff;
  width: 20px;
  height: 20px;
}

.checkbox-border {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #B47AEA;
  background-color: #B47AEA;
  border-radius: 10%;
}

.line-through { 
  text-decoration: line-through;
  color: #5E5E5E;
}

.delete-item {
  height: 30px;
  width: 30px;
  color: #B47AEA;
  transition: all 1s ease;
  
}

.delete-item:hover {
  color: red;
  transform: scale(1.5);
}
.delete-item:active {
  transform: scale(0.9);
}

.delete {
  margin-top: 5px;
}